/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Medium tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Extra Large desktops
$screen-xl-min: 1200px;

:root {
    --blue: #006494;
    --darkBlue: #1B263B;
    --gray: #7799A5;
    --lightGray: #d5d5d5;
    --red: #F71735;
    --white: #ffffff;
    --black: #000;
}
