/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;


// Colors vars
:root {
  --black: #000000;
  --white: #ffffff;
  --textcolor: #efefef;
}


//// Colors
$primary: #4eda44;
$secondary: rgb(24, 27, 100);
$secondary-transparent: rgba(24, 27, 100, .5);

$marginmobile: 10px 100px;

$margindesktop: 100px 200px;

$threecolumn: 1fr 1fr 1fr;

