/* =============
    Base
============= */


img {
    width: 100%;
}



h3{
    background-color: var(--textcolor);
    margin: $marginmobile;

    @include md{
        margin: $margindesktop;
    }
}