#gallery{
    display:grid;
    grid-template-columns: 1fr;
    margin:0px 16px;
    background-color: var(--gray);
    
    ul{
        margin: 0;
        padding: 0;
        display: grid;
        grid-gap: 8px;

        li{ 
            list-style: none;
            background: var(--lightGray);
            padding-top: 150px;
            padding-bottom: 150px;
            width: 100%;
            text-align: center;
        }
    }

    @include md{
       margin: 0 40px;
       ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px;
       }
    }

    @include lg{
        margin: 0 100px;
        ul{
            grid-template-columns: repeat(5,1fr) ;
        }
    }
      
}