#hero{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "heroimg"  
    "leftaside"  
    "rightarticle";

    @include md{
        grid-template-columns: 1fr 2fr; 
        grid-template-areas:
        "heroimg heroimg "  
        "leftaside rightarticle" ;    
    }

    @include lg{
        grid-template-columns: 1fr 1fr; 
    }

    img{
        grid-area: heroimg;
    }

    aside{
        grid-area: leftaside;
        background-color: $burntorange;
    }

    article{
        grid-area: rightarticle;
        background-color: $orange;
    }

    aside, article{
        padding: 24px;
        display: flex;
        justify-content: space-between;

        a{
            padding: 20px;
            color: white;
        }
    }

}