/* =============
    Header
============= */
header{
    background-color: var(--red);
    color: var(--white);
    padding: 50px 0;
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    

}